// ================================================
// VAR
// ================================================

$modal-bg: rgba(0, 0, 0, 0.5);
$modal-content-bg: white;
$close-btn-bg: rgb(255, 255, 255);
$close-btn-hover: darkgray;
$upload-btn-bg: white;
$upload-btn-font: gray;
$pagination-active: dodgerblue;


.image-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bg;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.image-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-content-bg;
  padding: 1rem 1.5rem;
  width: 40rem;
  height: 25rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: $close-btn-bg;
}

.close-button:hover {
  background-color: $close-btn-hover;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 16vh; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.media-header {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
}

.media-header > div {
  padding-left: 4%;
}

.flex-container {
  height: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container > div > p {
  text-align: center;
}

/* Pagination links */
.img-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.img-pagination a.pg-active {
  background-color: $pagination-active;
  color: white;
}

.img-pagination a:hover:not(.pg-active) {
  background-color: #ddd;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#upload-btn {
  border: 2px solid gray;
  color: $upload-btn-font;
  background-color: $upload-btn-bg;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.trigger{
  background-color: red;
}