
// ================================================
// VAR
// ================================================
// $color-bg: rgb(224, 56, 224);
$color-bg: #ffffff;
$color-white: #000000;
$color-text: #000000;
$font-family: 'Roboto' sans-serif;
$font-size: 1em;
$size: 10px;
// ================================================
// Mixin
// ================================================
@mixin mq($point) {
    @if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    }
}

// ================================================
// Styles
// ================================================
* {
    box-sizing: border-box;
}

.login {
    font: 1rem $font-family;
    font-weight: 100;
    line-height: 1.7;

    .box-login {
        width: 50%;
        height: 50%;
        background-color: #4267b2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 5%);
        z-index: 5;
        border-radius: 5px;
        padding: $size;
        display: flex;
        @include mq(laptop) {
            // min-height: 24rem;
            height: 50%;
            width: 50%;
            padding: $size * 12;
            top: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
        }

        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            @include mq(laptop) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                min-height: 100%;
            }
            &.is--login {
                .form--login {
                    visibility: visible;
                    opacity: 1;
                }
            }
    
        }
    }

    // ================================================
    .box-forms {
        border-radius: 0;
        min-height: 18rem;
        border-radius: 5px;
        padding: $size * 3;
        width: 100%;
        // top: 18rem;
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: 15;
        visibility: hidden;
        opacity: 0;
        &.form--login {
           left: 0;
        }
        @include mq(laptop) {
            min-height: 44vh;
            width: $size*45;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            &.form--signup {
                // right: 50%;
            }
        }
        &--title {
            color: $color-bg;
            font-size: $font-size + 0.5;
            font-weight: bold;
            margin-bottom: $size * 2;
            margin-left: $size*15;
        }
        // box-forms-title
    }
    // box-forms
    // forms
    // ================================================    
    label {
        width: 100%;
        font-weight: normal;
     
        cursor: pointer;
        display: block;
        input[type="checkbox"] {
            width: initial;
            margin-left: $size / 2;
        }
    }
    button,
    input {
        background-color: transparent;
        padding: 10px;
        outline: 0;
        border: 1px #ccc solid;
        width: 100%;
        border-radius: 30px;
    }
    .form-group {
        margin-bottom: $size * 2;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .forget-password {
        position: relative;
        text-align: center;
        width: 100%;
        display: inline-block;
        color: $color-text;
        text-decoration: none;
        span {
            vertical-align: middle;
        }
        .icon-svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

// tagline
//=================================================
.punch-line {
    font-style: normal;
    font-size: 22px;
}

button {
    color: red;
}

#user-email{
    color: whitesmoke;
}

::placeholder{
    color: whitesmoke;
}

.white-color{
    color: whitesmoke;
}