body {
    margin: 0;
    font-family: sans-serif;
}
canvas.main {
    display: block;
    position: fixed;
    left: 0;
    top: -100px;
    width: 100vw;
    height: calc(100vh + 100px);
    box-sizing: border-box;
    border: 0px dashed red;
    outline: 0px dotted black;
}
canvas.full {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0px dashed red;
    outline: 0px dotted black;
}
#labels {
    pointer-events: none;
    z-index: 2;
    outline: 0px dashed red;
    border: 0px dotted lime;
}
#sliders {
    outline: 0px solid red;
    position: fixed;
    left: 1ex;
    right: 1ex;
    bottom: 1ex;
    z-index: 3;
    user-select: none;
}
#sliders > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#sliders input[type=range] {
    flex: 1;
}
#sliders label {
    min-width: 15vw;
    padding-right: 1ex;
    text-align: right;
}
#sliders div.value {
    padding-left: 1ex;
    min-width: 15vw;
    text-align: left;
}
.speed_section {
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.speed_section label {
    min-width: auto;
    padding-right: 1ex;
}

#ination_dot {
    display: none;
}

.mobile_speed_controls {
    display: none;
}
.desktop_speed_controls {
    display: flex;
    align-items: center;
}
.desktop_speed_controls input[type=range] {
    max-width: 5em;
    margin-right: 1ex;
}

#top_right_details {
    position: fixed;
    z-index: 2;
    right: 1em;
    top: 1ex;
    text-align: right;
    display: none;
}

@media only screen and (max-width: 980px) {
    body {
        font-size: small;
    }
    #sliders .buttons {
        position: fixed;
        right: 1ex;
        top: 1ex;
        justify-content: start;
    }
    #top_right_details {
        top: calc(1cm);
    }
    #sliders .top10vh {
        margin-top: 10vh;
    }

    #ination {
        display: none;
    }
    #ination_dot {
        display: inline;
    }
    .mobile_speed_controls {
        display: flex;
        align-items: center;
    }
    .mobile_speed_controls input[type=range] {
        _max-width: 10em;
    }
    .mobile_speed_controls .value {
        flex: 1;
    }
    .desktop_speed_controls {
        display: none;
        background-color: lime;
    }
}
@media only screen and (max-width: 1300px) {
    #bottom_left {
        bottom: 3.5ex;
    }
}
@media only screen and (min-width: 1300px) {
    #bottom_left {
        bottom: 1ex;
    }
}

@media only screen and (min-width: 1100px) {
    .desktop_speed_controls input[type=range] {
        _max-width: 10em;
    }
}


input[type=range]:disabled {
    filter: grayscale(100%);
    opacity: 0.6;
}
#second_view, #diag8_second_view, #diag9_second_view, #diag10_second_view, #diag14_second_view {
    position: fixed;
    left: 0;
    top: 20vw;
    width: 20vw;
    z-index: 2;
    text-align: center;
    user-select: none;
}

/* single speed slider */

tr.disabled {
    /* pointer-events: none; */
    color: gray;
    /* filter: saturate(0); */
}

#sliders table {
    width: 100%;
}
#sliders table, #sliders table tr, #sliders table td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 0px solid black;
}

#sliders table tr td:first-child, #sliders table .right {
    text-align: right;
    padding-right: 0.5ex;
}
#sliders table tr td:last-child {
    padding-left: 1ex;
    min-width: 4em;
}
#sliders table input[type=range] {
    width: 100%;
}
#sliders table input[type=range].short {
    width: 5em;
}
#sliders table .middle {
    display: flex;
    align-items: center;
}
#sliders table .middle label {
    min-width: auto;
}
#sliders table .middle input[type=range] {
    min-width: 5em;
    max-width: 5em;
}
#sliders table .middle label:last-child {
    flex: 1;
    text-align: right;
    padding-right: 0;
}

@media only screen and (orientation: landscape) {
    #sliders table tr.mobile_only {
        display: none;
    }
}
@media only screen and (orientation: portrait) {
    #sliders table tr.mobile_only {
    }
    #sliders table .desktop_only {
        display: none;
    }
}

button.arrow {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    width: 0.5cm;
    height: 0.5cm;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(1);
    opacity: 0.2;
}
button.active {
    filter: grayscale(0);
}
button.arrow:active {
    filter: grayscale(0);
    opacity: 1;
}
button.arrow:pressed {
    filter: grayscale(0);
    opacity: 1;
}
button.left {
    background-image: url(texture/arrow_left.png);
}
button.right {
    background-image: url(texture/arrow_right.png);
}

@media (pointer:coarse) {
    #zoom_slider {
        display: none;
    }
}

#zoom_slider_div, #zoom_slider_div2, #zoom_slider_div3 {
    position: fixed;
    left: 0px;
    top: calc(50% + 10vw);
    z-index: 9;
    transform: rotate(-90deg);
    transform-origin: top left;
}
#zoom_label_div, #zoom_label_div2, #zoom_label_div3 {
    position: absolute;
    width: 1px;
    height: 1px;
    transform: rotate(-180deg);
    transform-origin: top left;
    top: 3em;
    left: 2em;
}
#zoom_label, #zoom_label2, #zoom_label3 {
    position: relative;
    /* pointer-events: none; */
}
#zoom_slider_div button, #zoom_slider_div2 button, #zoom_slider_div3 button {
    transform: rotate(-90deg);
    margin-top: 0ex;
    width: 0.7cm;
    height: 0.7cm;
    padding: 0;
}
#zoom_slider, #zoom_slider2, #zoom_slider3 {
    width: 10vw;
    padding-top: 1ex;
    position: relative;
    top: 1ex;
}


.formula {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
}
.frac {
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    text-align: center;
    font-size: xx-small;
}
.frac hr {
    height: 1px;
    border: none;
    background-color: black;
    color: black;
    padding: 0;
    margin: 0;
}
/*
.frac {
    display: flex;
    flex-direction: column;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    align-items: center;
    font-size: xx-small;
}
.frac div:first-child {
    border-bottom: 1px solid black;
}
.frac div:last-child {
    border-top: 1px solid black;
    position: relative;
    top: -1px;
}
.frac.small {
}
*/

#formulas div.hide {
    display: none;
}

.nofocusoutline:focus {
    outline: none;
}
/*
input[type="range"].ticks::-moz-range-track {
  padding: 0 11px;
  background: repeating-linear-gradient(to right,
    #000,
    #000 0.1%,
    #ccc 0.3%,
    #ccc 19.99%,
    #000 20%);
}
*/
#custom_label h2 {
    font-size: medium;
}

#inset {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0ex;
    z-index: 100;
    border: 0px solid black;
    background-color: white;
    /*
    border-radius: 0.5ex;
    box-shadow: 0 0 0.5ex rgba(0,0,0,0.3);
    cursor: grab;
    */
}
#inset_title {
    text-align: center;
}
#inset_canvas {
    width: 100px;
    height: 100px;
    background-color: #aaaaaa;
}

label.checkbox {
    display: inline-flex;
    align-items: center;
}

@media only screen and (orientation: portrait) {
    td.novertical {
        display: none;
    }
}
